<div *ngFor="let item of list" (click)="selectedItem(item)">
    <p>Name :{{item.name}}</p>
    <p>Phone No :{{item.phone}}</p>
    <p>Email :{{item.email}}</p>
    <p>Username :{{item.username}}</p>
    <p>ID :{{item.id}}</p>
    <p>Website :{{item.website}}</p>
    <p>Company Name :{{item.company.name}}</p>
    <p>City : {{item.address.city}}</p>
    <p>Street : {{item.address.street}}</p>
    <p>Zipcode : {{item.address.zipcode}}</p>
</div>