<div>
    <input type="text" placeholder="Search Employee Name" [(ngModel)]="searchInput">
    <button type="button" (click)="search()">Search</button>
</div>
<div>
    <p>Selected List Name:{{selectedName}}</p>
</div>
